.boxContainer{
    display:block;
    height: 40vh;
    width: 40vw;
    background-color: blue;
}

.imageBox{
    height:90%;
    width:94%;
    position:relative;
    top:0;
    left:0;
    background-color: aqua;
}

.textBox{
    height:25%;
    width:80%;
    position:absolute;
    bottom:0;
    right:0;
    background-color: pink;
}