.boxContainer{
    display:block;
    height: 40vh;
    width: 40vw;
    background-color: black;
}

.imageBox{
    height:90%;
    max-height: 90%;
    width:94%;
    max-width: 94%;
    overflow-y: hidden;
    overflow-x:hidden;
    position:relative;
    top:0;
    left:0;
    background-color: yellow;
}

.textBox{
    height:25%;
    width:80%;
    position:absolute;
    bottom:0;
    right:0;
    background-color: green;
}

.dateBox{
    height:10%;
    width:25%;
    position:absolute;
    top:0;
    right:0;
    background-color: rgb(128, 0, 117);
}