.line{
    width: 7.5vw;
    height: 300vh;
    border-right: 0.5vw solid rgb(99, 98, 98);
    position: absolute;
    top:12vh;
    z-index:0;
}

.app{
    height: auto;
    overflow-x:hidden;
}

.footer{
    height:100vh;
    width:100vw;
    margin-top:20vh;
    background-color: blueviolet;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5%;
}

.title{
    display:flex;
    height:15%;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
}

.imageAdd{
    display:flex;
    flex-direction: row;
    height:40%;
    width: 90%;
    align-items: center;
    justify-content: center;
    outline: solid black;
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height:100%;
}

.addButton{
    display:flex;
    height:10%;
    width: 50%;
    align-items: center;
    justify-content: center;
    outline: solid black;
    font-size: large;
    font-weight: 900;
    background-color: pink;
}

